@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424549;
  font-family: "Roboto", sans-serif;
}

.cadastrarUsuario{
  background-color: #36393E;
  position: absolute;
  width:100%;
  height:20%;
  top: 0%;
  align-items: center;
  justify-content: space-evenly;
}

.textFieldClass{
  justify-content: space-between;
}

.logoWkApp{
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  height: 0vh;
}

.dadosParaEditar{
  position: grid;
  column-gap: 50px;
  top: 20vh;
  left: 2vh;
  font-size: 18px;
}

.divButtonCriar{
  display: flex;  
  height: 6vh;
  width: 42vh;
  top: 0%
}

.formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424549;
  font-family: "Roboto", sans-serif;
}

.formOutline {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  padding: 20px;
  width: 450px;
  height: 450px;
}

.logoWk{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.linkTitleClass{
  justify-content: center;
  display: flex;
}

body {
  margin: 0%;
  padding: 0%;
}

.emailInputClass{
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: space-evenly;
}
